---
import Feature from '@/components/Feature.astro';
import Layout from '../layouts/Layout.astro';
import story1 from '@/assets/img/story/story-1.jpeg';
import story2 from '@/assets/img/story/story-2.jpeg';
import { Image } from 'astro:assets';
import HomeCard from '@/components/HomeCard.astro';
import houses from '@/data/homes.json';
---

<Layout title="Nexter — your home, your freedom">
  <div class="sidebar">sidebar</div>

  <header class="header">Header</header>

  <div class="realtors">Top 3 realtors</div>

  <section class="features">
    <Feature id="1" />
    <Feature id="2" />
    <Feature id="3" />
    <Feature id="4" />
    <Feature id="5" />
    <Feature id="6" />
  </section>

  <div class="pictures">
    <Image class="image-1" src={story1} alt="Couple with new house" />
    <Image class="image-2" src={story2} alt="New house" />
  </div>
  <div class="content">
    <h3>Happy Customers</h3>
    <h2 class="dark">&ldquo;The best decision of our lives&rdquo;</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ipsum
      adipisci recusandae reprehenderit veritatis quaerat dolorem molestias.
    </p>
    <button class="btn">Find your own home</button>
  </div>

  <section id="homes">
    <HomeCard house={houses[0]} />
    <HomeCard house={houses[1]} />
    <HomeCard house={houses[2]} />
    <HomeCard house={houses[3]} />
    <HomeCard house={houses[4]} />
    <HomeCard house={houses[5]} />
  </section>

  <section class="gallery">gallery</section>

  <footer class="footer">Footer</footer>
</Layout>
